<img src="__PUBLIC__/images/img01.gif" width="181" height="37" onclick="window.location.href='mailto:hjd890@163.com';"/>
<img src="__PUBLIC__/images/img02.gif" width="181" height="37" onclick="window.location.href='mailto:13519115500@163.com';"/>
<a href="{:U('zhaopin/recruit')}"><img src="__PUBLIC__/images/img03.gif" width="181" height="37" /></a>
<a href="{:U('qiyewenhua/culture',array('cid'=>'46'))}"><img src="__PUBLIC__/images/img04.gif" width="181" height="37" /></a>
<a href="{:U('compintor/filiale')}"><img src="__PUBLIC__/images/img05.gif" width="181" height="37" /></a>