<include file='Public/header' />
<title>东升科技-典型案例</title>
<include file='Public/header_column' />

		<div class="banner02"><img src="__PUBLIC__/images/banner03.jpg" width="973" height="149" /></div>
		<div class="topLogo"></div>
	</div>
	<div class="mainBody">
		<div class="inc_tit">
			<h3 id="timeShow" name="timeShow"></h3>
			<script language="javascript">
       		 	window.onload = disptime;
			</script>
			<p class="fr"><a href="http://localhost/xadosun">首页</a> &gt; <a href="{:U('anllist')}">典型案例</a> &gt; <span class="redf02">{$zx['name']}</span></p>
		</div>
		
		
		<div class="mainL03">
			
				


<div class="mtit02">典型案例</div>
<div class="menuBox">
	<foreach name='anlist' item='anli'>
		<if condition='($anli["name"] eq $zx["name"])'>
			<div class="menuBar01"><a href=":U('anliDetailList',array('cid'=>$anli['id']))}">{$anli['name']}</a></div>
		<else />
			<div class="menuBar02"><a href="{:U('anliDetailList',array('cid'=>$anli['id']))}">{$anli['name']}</a></div>
		</if>
	</foreach>	
</div>
<div class="menuBottom"></div>

			
    		
		    	 
			<div class="mLbox">
				
					






<div class="mtit01">
	<h1>企业新闻</h1>
	<p><a href="{:U('zixundongtai/newsList')}" target="_blank">更多>></a></p>
</div>
<div class="list">
	<foreach name='newslist' item='news'>
		·<a href="{:U('zixundongtai/newsDetail',array('id'=>$news[id]))}" target="_blank">
		<?php
			echo mb_substr($news['title'], 0, 15, 'utf-8' )
		?>	
		</a><br/>
	</foreach>	
	
		
</div>

			</div>
			
			
				
<div class="mLcall">
	<include file='Public:lianxiwomen' />
</div>
            
            
		</div>
		
		<div class="mainR03">
			
				




<div class="inc_Rtit"><h4>{$zx['name']}</h4></div>
<div class="clearit">
	<foreach name='list' item='ll'>
		<div class="inc_picinfo">
			<p class="imgBorder"><a href="{:U('dianxinganli/anliDetail',array('id'=>$ll[id]))}" target="_blank" title="{$ll['title']}"><img src="{$ll['litpic']}" width="120" height="91" border="0"/></a></p>
			<div class="info tspace10">
				<b class="redf02"><a href="{:U('dianxinganli/anliDetail',array('id'=>$ll[id]))}" target="_blank" title="{$ll['title']}">{$ll['title']}</a></b><br />
				 {$ll['title']}...[<a class="redf02" href="{:U('dianxinganli/anliDetail',array('id'=>$ll[id]))}" target="_blank" title="{$ll['title']}">详细</a>]
			</div>
		</div>
	</foreach>
	
	
</div>
<div class="inc_page">
	{$page}
</div>			

	        
            
		</div>
	</div>
<include file='Public:footer'/>